footer {
  background: #333333;
  padding: 75px;
  p {
    color: white;
  }
}



i {
  margin: 5px 20px;
  color: #2ECC71;
  opacity: 1;
  &:hover {
    opacity: 0.3;
  }
}


.text-right {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:right;
  font-size: 2rem;
}


